@import "../../_colors.scss";
.table__row {
  display: flex;
  align-items: center;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: $table__row--BorderBottom;
  margin-bottom: 10px;
  &_theme_head-list {
    font-weight: 900;
    text-align: center;
    border-bottom-width: 0;
    justify-content: center;
  }

  &_theme_checked {
    background-color: $table__row_theme_checked--BGColor;
  }

  &-data {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  &-property-container {
    margin-right: 5px;
  }

  &-property-name-button.MuiButtonBase-root {
    text-transform: capitalize;
  }

  &-property-edit-form {
    display: flex;
    flex-direction: column;
  }

  &-property-edit-form-error {
    color: red;
    margin: 5px 0px;
  }

  &-property-edit-form-input.MuiFormControl-root {
    margin-bottom: 5px;
  }

  &:last-child {
    margin-bottom: 0px;
    border-bottom-width: 0px;
  }
}
