@import "../../_colors.scss";
.table__row {
  display: flex;
  align-items: center;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: $table__row--BorderBottom;
  margin-bottom: 10px;
  &_theme_head-list {
    font-weight: 900;
    text-align: center;
    border-bottom-width: 0;
    justify-content: center;
  }

  &-data {
    display: inline-block;
  }

  &-property-container {
    margin-right: 5px;
  }

  &:last-child {
    margin-bottom: 0px;
    border-bottom-width: 0px;
  }
}
