//--palette
$silver: #c0c0c0;
$poseidon: #133955;

//--components colors
$app--Border: $silver;

$table--Border: $silver;
$table-active--Border: $poseidon;
$table__header--BorderBottom: $silver;
$table__row--BorderBottom: $silver;
$table__row_theme_checked--BGColor: lighten($silver, 20%);
